php
@extends('layouts.app')

@section('title', 'Dashboard | Leeh Costura Premium')

@section('content')

<section class="page-container">

    <h1>
        Bem-vinda(o), {{ session('funcionario_nome') }}
    </h1>

    <p>
        Painel administrativo da Leeh Costura Premium.
    </p>

</section>

@endsection